.main {
    height: 50rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container {
    height: 80%;
    width: 70%;
    background-color:rgb(1, 131, 88);
    border-radius: 30px;
    border: solid rgba(0, 0, 0, 0.308) 0.5px;
    box-shadow: 10px 10px rgba(44, 44, 44, 0.541);
}

.display {
    width: 90%;
    height: 20%;
    margin: 1rem;
    border: solid rgb(53, 53, 53) 0.5px;
    border-radius: 30px;
    background-color: rgb(53, 53, 53);
    margin-top: 1.3rem;
    display: flex;
    justify-content: right;
}

.res{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    border: solid black;
}



input:read-only {
    background-color: #f2f2f2;
    color: #888;
    cursor: default;
  }

.contBotones{
    width: 90%;
    height: 74%;
    margin: 1rem;
    padding: 0.3rem;
    margin-top: 2rem;
}

p{
    color: white;
    font-size: 2rem;
}




.row1{
    height: 19%;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.btnClear{
    height: 80%;
    width: 50%;
    border-radius: 20px;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBorrar{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPorcentaje{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2{
    height: 19%;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.btn7{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn8{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn9{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnX{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}



.row3{
    height: 19%;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.btn4{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn5{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn6{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnMenos{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row4{
    height: 19%;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.btn1{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn3{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnMas{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}



.row5{
    height: 19%;
    width: auto;
    display: flex;
    justify-content: space-around;
}


.btn0{
    height: 80%;
    width: 50%;
    border: solid aqua;
    border-radius: 20px;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPunto{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEsIgual{
    height: 80%;
    width: 20%;
    background-color:rgba(0, 163, 109, 0.53);
    border: solid rgba(0, 0, 0, 0.01) 0.5px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background-color:rgb(0, 163, 109); */